<section class="product__container">
    <div class="product-image__container">
        <img src="/assets/hd.jpg" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">HD</h2>
        <h3 class="product__price">R$ 200</h3>
        <p>Estoque disponível:</p>
        <label>
            Quantidade:
            <input type="number">
            unidade(s)
        </label>
        <p class="product__availability">
            10 unidade(s) em estoque
        </p>
        <button>Adicionar ao carrinho</button>
    </div>
</section>
