<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--red">Hannya</span><span class="main-header__title--black">Computers</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a href="">Produtos</a>
                </li>
                <li>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="/carrinho">Carrinho</a>
                    <span class="badge-carrinho">{{ carrinhoService.obtemCarrinho().length }}</span>
                </li>
                <li>
                    <a href="/contato">Contato</a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <app-barra-pesquisa></app-barra-pesquisa>
</header>
