<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="Digite o seu nome" />
        <input type="assunto" placeholder="Digite o assunto" />
        <input type="tel" placeholder="(00) 0 0000-0000" />
        <input type="mail" placeholder="Digite o seu e-mail" />
        <textarea maxlength="300" placeholder="Digite sua mensagem"></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.7898860706478!2d-46.47370528502129!3d-23.611867284657805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce68846bb1902f%3A0xa1f577bf03730f60!2sRua%20Rh%C3%A9a%2C%20151%20-%20Cidade%20Satelite%20Santa%20Barbara%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2008330-530!5e0!3m2!1spt-BR!2sbr!4v1688922869558!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Rua Rhéa, 151 - Cidade Satelite Santa Barbara, São Paulo - SP, 08330-530</p>
    </address>
</section>
